Repository beyond-sw-camp/be06-fin-SABUJAKS-IRS, pull requests merged in 2024-10, with the labels that each got.

#347 [#346][Feat] 지원자 & 면접진 화상 면접방 시간대 접근 제어 수정
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#349 [#348][Feat] Email 전송 & Alarm 저장 로직 변경
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/entity/Alarm.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/service/AlarmService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/domain/total_process/repository/TotalProcessRepository.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSenderSeeker.java
  backend/src/main/resources/templates/InterviewExpEmail.html
Labels: backend

#351 [#350][Fix] 면접 일정 조율 페이지 인터뷰 차수 & 시간대 필터링 추가
  frontend/src/assets/css/grid.css
  frontend/src/components/recruiter/ReScheduleDetail.vue
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainExp.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
Labels: frontend

#352 [#46][Fix] 공고지원서 테이블 서류 합불 컬럼 삭제
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeUpdateDocPassedReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadAllRecruiterRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeUpdateDocPassedRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend

#353 [#65][Fix] totalProcess 채용 진행 결과 조회할 수 있게 수정
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/resume/ResumeCreatePage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#354 [#69][Fix] 지원자 공고 전체조회 페이지 검색기능 수정, 정렬기능 추가
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: frontend

#356 [#355][Feat] 면접 확정 메일(경력, 신입) 템플릿 완성
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSenderSeeker.java
  backend/src/main/resources/templates/InterviewConfirmOnlineEmail.html
  backend/src/main/resources/templates/InterviewExpEmail.html
  backend/src/main/resources/templates/InterviewNewEmail.html
Labels: backend

#358 [#357][Fix] Video Interview 생성 event 동시 실행 수정
  frontend/src/components/recruiter/InterviewScheduleList.vue
Labels: frontend

#360 [#339][Fix] 공고조회 코드 수정
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/search/service/SearchService.java
Labels: backend

#361 [#97][Fix] 이메일 검증 코드 url 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
Labels: backend

#362 [#359][Fix] 지원자 소셜 로그인 수정
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomAccessDeniedHandler.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomLoginFailureHandler.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/CustomOAuth2UserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/CustomOAuth2UserService.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
Labels: backend

#365 [#364][Fix] 채용담당자 회원가입 페이지 수정 완료
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
  frontend/src/pages/recruiter/auth/RecruiterSignupPage1.vue
  frontend/src/router/index.js
Labels: frontend

#366 [#286][Feat] k8s OAuth2 test5
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: config

#368 [Feat] jenkins back test
  backend/src/main/java/com/sabujaks/irs/domain/total_process/controller/TotalProcessController.java
Labels: config

#369 [#367][Feat] system 패키지 생성
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/system/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/BaseInfoController.java
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
  backend/src/main/java/com/sabujaks/irs/domain/system/model/entity/BaseInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/system/model/response/CategoryRes.java
  backend/src/main/java/com/sabujaks/irs/domain/system/model/response/SubcategoryRes.java
  backend/src/main/java/com/sabujaks/irs/domain/system/repository/BaseInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/system/service/BaseInfoService.java
  backend/src/main/java/com/sabujaks/irs/domain/total_process/controller/TotalProcessController.java
  cicd/k8s/backend/backend-deployment-blue.yml
  cicd/k8s/backend/backend-deployment-green.yml
Labels: config

#370 [#286][Feat] k8s OAuth2 test6
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: frontend

#371 [#286][Feat] k8s OAuth2 test7
  backend/src/main/resources/application.yml
Labels: config

#372 [#80][Fix] 지원자 지원서 상세조회 페이지 수정
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
Labels: frontend

#373 [#364][Fix] 채용담당자 회원가입 페이지 수정 완료
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
Labels: frontend

#374 [Fix] 면접시간 수정
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
Labels: frontend

#393 [#391][Feat] 프로세스 결과 일괄 전송 & 면접방 일괄 생성 버튼
  frontend/src/assets/css/grid.css
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#394 [#382][Feat] k8s Openvidu test 10
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: config

#395 [Feat] 각 채용 프로세스 결과 이메일 & 알람 일괄 전송 및 화상면접방 일괄 생성(동적스케줄링)
  backend/src/main/java/com/sabujaks/irs/IrsApplication.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/service/AlarmService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/request/VideoInterviewCreateAllReq.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SchedulerConfig.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/model/response/ResumeRejectRes.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderEstimator.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderSeeker.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailService.java
  backend/src/main/resources/templates/ResumeRejectEmail.html
Labels: backend

#397 [#396][Hotfix] 동적스케줄링 json Error
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
Labels: backend

#403 [#87][Fix] 공고등록 단계별 CSS파일 제거
  frontend/public/css/AnnounceRegisterStep1Page.css
  frontend/public/css/AnnounceRegisterStep2Page.css
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/router/index.js
Labels: frontend

#405 [#404][Refactor] 지원자 마이페이지 및 헤더 디자인 개선
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/components/seeker/SeekerSideBarComponent.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
Labels: refactor

#408 [#407][Refactor] 채용담당자 페이지 사이드바 중복 메뉴 제거 및 각 페이지 테이블 여백 통일
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateResultPage.vue
Labels: frontend

#412 [#410][Refactor] 공고 패키지 메서드 및 응답 위치 변경
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadDetailRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/RecruiterInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/company/controller/CompanyController.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/response/BenefitCategory.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/response/CompanyInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/response/CompanyReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/company/service/CompanyService.java
  frontend/src/stores/UseAnnouncementStore.js
Labels: refactor

#414 [#411][Refactor] 지원자 지원서 등록, 제출 페이지 디자인 개선
  frontend/src/assets/img/resume/award.png
  frontend/src/assets/img/resume/certification.png
  frontend/src/assets/img/resume/check-mark.png
  frontend/src/assets/img/resume/check.png
  frontend/src/assets/img/resume/cover-letter.png
  frontend/src/assets/img/resume/education-completion.png
  frontend/src/assets/img/resume/education.png
  frontend/src/assets/img/resume/interns-activity.png
  frontend/src/assets/img/resume/language.png
  frontend/src/assets/img/resume/personal-history.png
  frontend/src/assets/img/resume/personal-info.png
  frontend/src/assets/img/resume/plus.png
  frontend/src/assets/img/resume/portfolio.png
  frontend/src/assets/img/resume/preferential-employment.png
  frontend/src/assets/img/resume/studying-abroad.png
  frontend/src/assets/img/resume/subtracting-button.png
  frontend/src/assets/img/resume/x.png
  frontend/src/components/seeker/EducationComponent.vue
  frontend/src/components/seeker/PersonalHistoryComponent.vue
  frontend/src/components/seeker/PreferentialEmpComponent.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/resume/ResumeCreatePage.vue
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: refactor

#416 [#415][Refactor] InterviewSchedule Component Page화 완료
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/ReScheduleDetail.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExpPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNewPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend

#417 [#413][Refactor] 공고 관리 및 등록 페이지 디자인 개선
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: refactor

#419 [#418][Refactor] 메인페이지 전체 공고 조회 디자인 수정
  frontend/src/assets/css/grid.css
  frontend/src/assets/img/announce/no-background.jpg
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: frontend, refactor

#421 [#420][Refactor] BaseResponseMessage Code 정리
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend, config, refactor

#428 [#424][Refactor] 채용담당자 지원자 목록 페이징 처리
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend, refactor

#429 [#426][Refactor] 채용담당자 지원자 목록 페이징 처리
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#433 [#431][Refactor] 화상 면접방 목록 조회 개선
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/entity/VideoInterview.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: backend, refactor

#434 [#423][Refactor] 채용담당자 공고 목록 페이징 처리
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
Labels: backend, refactor

#435 [#413][Refactor] 채용담당자 공고 관리 페이지 공고 목록 페이징 처리
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend, refactor

#436 [#430][Refactor] 화상 면접방 목록 페이지 개선
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: frontend, refactor

#439 [#424][Refactor] 지원자 공고별 지원 목록 페이징 처리
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend, refactor

#440 [#424][Refactor] 지원자 공고별 지원 목록 페이징 처리
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#448 [#447][Feat] 지원자 통합지원서 등록 여부 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadIntegratedInfoRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#449 [#446][Refactor] 회원가입, 로그인 페이지 개선
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/pages/seeker/auth/SeekerSignupPage.vue
Labels: frontend

#450 [#432][Refactor] 기업 정보 등록, 조회 페이지 개선
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/stores/UseAnnouncementStore.js
  frontend/src/stores/UseCompanyStore.js
Labels: frontend, refactor

#453 [#452][Refactor] 채용담당자 로그인 버그 개선
  frontend/public/css/RecruiterLoginPage.css
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/router/index.js
Labels: frontend, refactor

#454 [#447][Fix] 지원자 통합지원서 등록 여부 조회 삭제
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#457 [#427][Refactor] 지원자 마이페이지 개선
  frontend/src/components/seeker/SeekerSideBarComponent.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#458 [#413][Refactor] 채용담당자와 지원자 공고 관련 페이지 개선
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/stores/UseAnnouncementStore.js
  frontend/src/stores/UseCustomFormStore.js
Labels: frontend, refactor

#459 [#451][Refactor] 공고 등록 필드 추가 및 시큐리티 설정
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend, refactor

#460 [#427][Refactor] 지원자 마이페이지 및 알림 디자인 개선
  frontend/src/assets/css/grid.css
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
Labels: frontend, refactor

#461 [#455][Refactor] 화상 면접방 페이지 개선
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadResumeInfoRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/components/video-interview/UserVideo.vue
  frontend/src/components/video-interview/VideoInterviewResumeComponent.vue
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: frontend, refactor

#463 [#462][Refactor] 채용담당자 인터뷰 일정 조율 및 일정 조율 관리 페이지 개선
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/ReScheduleList.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNewPage.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleDetailPage.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleListPage.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend, refactor

#464 [#462][Refactor] 채용담당자 인터뷰 일정 생성 페이지 개선
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  frontend/src/components/recruiter/InterviewEvaluateResultDetailModal.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterveiwEvaluateResultDetailPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormCreatePage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateResultPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleDetail.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
Labels: frontend, refactor

#470 [#469][Refactor] 채용담당자 인터뷰 평가 페이지 개선
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Estimator.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderSeeker.java
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterveiwEvaluateResultDetailPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormCreatePage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateResultPage.vue
  frontend/src/pages/seeker/auth/SeekerSignupPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: frontend, refactor

#471 [#451][Refactor] 공고 등록 및 조회 로직 개선
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PersonalInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/system/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/BaseInfoController.java
  backend/src/main/java/com/sabujaks/irs/domain/system/model/response/BaseInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/system/repository/BaseInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/system/service/BaseInfoService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/resources/application.yml
Labels: backend, refactor

#472 [#413][Refactor] 공고 관련 전체 페이지 개선
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/stores/UseAnnouncementStore.js
  frontend/src/stores/UseBaseInfoStore.js
Labels: frontend, refactor

#475 [#411][Refactor] 지원자 지원서 페이지 개선
  frontend/src/components/seeker/PersonalInfoComponent.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/pages/seeker/resume/ResumeCreatePage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#476 [#426][Refactor] 채용담당자 지원서 관리 페이지 개선
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#478 [#474][Refactor] 채용담당자 공고 상세 조회 페이지 지원서 폼 조회 추가
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/stores/UseCompanyStore.js
  frontend/src/stores/UseCustomFormStore.js
Labels: frontend, refactor

#480 [#479][Refactor] 지원서 제출 페이지 진입 시 필요한 정보 조회 개선
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend, refactor

#482 [#411][Refactor] 지원자 지원서 제출 페이지 개선
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#484 [#483][Refactor] 채용담당자 인터뷰 일정(신입, 경력, 일정조율) 페이지 생성된 일정 개수 표시
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadAllRes2.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/ReScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend, refactor

#486 [#485][Refactor] 인터뷰 일정 페이지(신입, 경력, 일정조율)에서 이미 생성된 일정 개수 표시
  frontend/src/components/recruiter/InterviewScheduleMain.vue
Labels: frontend, refactor

#488 [#487][Refactor] 채용담당자 서류결과 일괄전송 로직 개선
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/entity/Alarm.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/model/response/ResumeResultRes.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderSeeker.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailService.java
  backend/src/main/resources/templates/ResumeAcceptEmail.html
Labels: backend, refactor

#490 [#489][Refactor] 채용담당자 서류결과 일괄전송 로직 개선
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#491 [#481][Refactor] 지원자 메인페이지 필터 개선
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: frontend, refactor

#492 [Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
Labels: config

#494 [#493][Refactor] 회원가입 이메일 인증 템플릿 추가
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderSeeker.java
  backend/src/main/resources/templates/SignupEmail.html
Labels: backend, refactor

#495 [#481][Refactor] 지원자 메인페이지 공고 관련 전체 개선
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: frontend, refactor

#496 [#481][Refactor] 공고 전체조회 기업이미지 부분 로직 개선
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadDetailRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
Labels: backend, refactor

#497 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
Labels: config

#498 [#493][Refactor] 회원가입 이메일 인증 redirect url 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/global/utils/email/service/EmailSenderSeeker.java
  backend/src/main/resources/templates/SignupEmail.html
Labels: backend, refactor

#499 [#493][Refactor] 회원가입 이메일 인증 redirect url 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
Labels: backend, refactor

#500 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
Labels: config

#501 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
Labels: config

#505 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
Labels: config

#507 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/controller/HealthController.java
Labels: config

#508 [#481][Refactor] 키워드 검색 기업이름 포함 쿼리 개선
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/search/service/SearchService.java
Labels: backend, refactor

#509 [#481][Refactor] 지원자 메인페이지 검색창 및 공고등록 페이지 개선
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: frontend, refactor

#510 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/DataInit.java
Labels: backend, refactor

#511 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/DataInit.java
Labels: config

#512 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/system/DataInit.java
Labels: config

#516 [Feat] 메소드 실행시간 측정을 위한 Aspect 클래스 작성
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/aspect/ExecutionTimeAspect.java
  backend/src/main/java/com/sabujaks/irs/global/config/FreeMarkerConfig.java
  backend/src/main/java/com/sabujaks/irs/global/config/RedisConfig.java
  backend/src/main/resources/application.yml
Labels: redis

#517 [Feat] 메소드 실행시간 측정을 위한 Aspect 클래스 작성
  backend/src/main/java/com/sabujaks/irs/global/common/aspect/ExecutionTimeAspect.java
Labels: redis

#518 [#515][Feat] 레디스 비밀번호 설정 추가
  backend/src/main/resources/application.yml
Labels: redis

#522 [#519][Refactor] 공고 검색 기능 수정
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/querydsl/AnnouncementDslRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/querydsl/AnnouncementDslRepositoryImpl.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/search/controller/SearchController.java
  backend/src/main/java/com/sabujaks/irs/domain/search/model/request/FilterDto.java
  backend/src/main/java/com/sabujaks/irs/domain/search/model/request/SearchFilterReq.java
  backend/src/main/java/com/sabujaks/irs/domain/search/model/request/SearchReq.java
  backend/src/main/java/com/sabujaks/irs/domain/search/service/SearchService.java
Labels: refactor

#524 [#519][Refactor] 공고 검색 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/querydsl/AnnouncementDslRepositoryImpl.java
  backend/src/main/java/com/sabujaks/irs/domain/search/controller/SearchController.java
Labels: backend, refactor

#525 [#520][Refactor] 메인 페이지 조회 및 검색 기능 수정과 페이징 처리
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend, refactor

#526 [#520][Refactor] 메인 페이지 페이징 디자인 변경 및 네이버 로그인 삭제
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: frontend, refactor

#527 [#519][Refactor] 검색 메소드에 실행시간 측정 어노테이션 추가
  backend/src/main/java/com/sabujaks/irs/domain/search/service/SearchService.java
Labels: backend, refactor

#530 [#529][Feat] 채용담당자 채용 프로세스 결과 확인
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/total-process/TotalProcessListPage.vue
  frontend/src/pages/recruiter/total-process/TotalProcessMainPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseTotalProcessStore.js
Labels: frontend

#532 [#531][Feat] 채용담당자 공고별, 지원자별 채용 프로세스 결과 확인
  backend/src/main/java/com/sabujaks/irs/domain/total_process/controller/TotalProcessController.java
  backend/src/main/java/com/sabujaks/irs/domain/total_process/model/response/TotalProcessReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/total_process/repository/TotalProcessRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/total_process/service/TotalProcessService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#534 [#533][Refactor] 공고 채용 프로세스 날짜 추가
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/request/AnnouncementCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadDetailRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
Labels: backend, refactor

#536 [#535][Refactor] 공고등록 및 조회 채용절차 개선
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend, refactor

#538 [#537][Batch] CICD 테스트
  cicd/k8s/batch/interviewInfo-cronJob.yml
Labels: batch

#539 [[#537][Batch] CICD 테스트
  cicd/k8s/batch/resumeResult-cronJob.yml
Labels: batch

#540 [#537][Batch] CICD 테스트
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#541 [#529][Feat] 채용담당자 채용 프로세스 결과 확인
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/pages/recruiter/total-process/TotalProcessListPage.vue
  frontend/src/pages/recruiter/total-process/TotalProcessMainPage.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAnnouncementStore.js
  frontend/src/stores/UseTotalProcessStore.js
Labels: frontend

#542 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#543 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#546 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#547 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#549 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#550 [#548][Fix] 화상 면접방 접근 제어 수정
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
Labels: backend

#551 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#552 [#537][Batch] CICD 테스트
  cicd/k8s/batch/finalResult-cronJob.yml
  cicd/k8s/batch/interviewInfo-cronJob.yml
  cicd/k8s/batch/resumeResult-cronJob.yml
  cicd/k8s/batch/videoInterview-cronJob.yml
Labels: batch

#553 [#537][Batch] CICD 테스트
  cicd/k8s/batch/videoInterview-cronJob.yml
Labels: batch

#554 [#537][Batch] CICD 테스트
  cicd/jenkins/backend/Jenkinsfile
Labels: batch

#555 [#537][Batch] CICD 테스트
  cicd/jenkins/frontend/Jenkinsfile
Labels: batch

#556 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#557 [#537][Batch] CICD 테스트
  cicd/k8s/batch/finalResult-cronJob.yml
  cicd/k8s/batch/interviewInfo-cronJob.yml
  cicd/k8s/batch/resumeResult-cronJob.yml
  cicd/k8s/batch/videoInterview-cronJob.yml
Labels: batch

#558 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#559 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
  cicd/k8s/batch/interviewInfo-cronJob.yml
  cicd/k8s/batch/resumeResult-cronJob.yml
Labels: batch

#560 [#537][Batch] CICD 테스트
  cicd/jenkins/batch/Jenkinsfile
Labels: batch

#568 [#411][Refactor] 지원자 지원서 관련 이지 수정
  frontend/src/components/seeker/PreferentialEmpComponent.vue
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
Labels: backend, refactor

#569 [#537][Batch] CICD 테스트
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: batch

#571 [#570][Feat] 배치 결과 저장 로직 수정
  backend/batch/src/main/java/com/example/batch/writer/EmailWriter.java
Labels: batch

#572 [#570][Feat] 배치 결과 저장 로직 수정
  backend/batch/src/main/java/com/example/batch/processor/EmailInterviewScheduleInfoProcessor.java
  backend/batch/src/main/java/com/example/batch/processor/EmailResumeResultProcessor.java
  backend/batch/src/main/java/com/example/batch/writer/EmailWriter.java
Labels: batch

#573 [Feat] K8s & Jenkins test 3
  cicd/msa/jenkins/msa-config/Jenkinsfile
Labels: msa

#574 [Feat] K8s & Jenkins test 4
  cicd/msa/jenkins/msa-config/Jenkinsfile
Labels: msa

#576 [Feat] K8s & Jenkins test 6
  cicd/msa/k8s/msa-discovery/msa-discovery-deployment.yml
  cicd/msa/k8s/msa-discovery/msa-discovery-svc.yml
  cicd/msa/k8s/msa-discovery/msa-gateway-svc.yml
Labels: msa

#577 [Feat] K8s & Jenkins test 7
  cicd/msa/jenkins/msa-discovery/Jenkinsfile
Labels: msa

#581 [#515][Refactor] 실행시간 측정 어노테이션 추가
  backend/api/src/main/java/com/example/api/domain/resume/service/ResumeService.java
  backend/api/src/main/java/com/example/api/global/common/aspect/ExecutionTimeAspect.java
Labels: backend, refactor

#582 [#521][Refector] refresh token & redis 추가
  backend/api/build.gradle
  backend/api/src/main/java/com/example/api/ApiApplication.java
  backend/api/src/main/java/com/example/api/global/config/SecurityConfig.java
  backend/api/src/main/java/com/example/api/global/security/filter/JwtFilter.java
  backend/api/src/main/java/com/example/api/global/security/filter/LoginFilter.java
  backend/api/src/main/java/com/example/api/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  backend/api/src/main/java/com/example/api/global/utils/JwtUtil.java
  backend/api/src/main/resources/application.yml
  backend/common/build.gradle
  backend/common/src/main/java/com/example/common/domain/auth/model/entity/RefreshToken.java
  backend/common/src/main/java/com/example/common/domain/auth/repository/RefreshTokenRepository.java
  backend/common/src/main/java/com/example/common/global/config/RedisConfig.java
  backend/common/src/main/resources/application.yml
  cicd/docker-compose.yml
  cicd/redis/redis.conf
Labels: backend, refactor, redis

#584 [#583][Refactor] 지원서 상세 조회 접근 예외처리
  backend/api/src/main/java/com/example/api/domain/resume/controller/ResumeController.java
  backend/api/src/main/java/com/example/api/domain/resume/service/ResumeService.java
Labels: backend, refactor

#586 [#585][Refactor] 지원자 로그인 페이지 예외처리
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: frontend, refactor

#588 [#587][Refactor] 이메일 인증 로직 변경 & 이메일 인증 반환 파라미터 추가
  backend/api/src/main/java/com/example/api/domain/auth/controller/AuthController.java
  backend/api/src/main/java/com/example/api/domain/auth/service/EmailVerifyService.java
  backend/api/src/main/java/com/example/api/domain/resume/controller/ResumeController.java
  backend/api/src/main/java/com/example/api/domain/video_interview/controller/VideoInterviewController.java
  backend/api/src/main/java/com/example/api/global/utils/email/model/response/ResumeResultRes.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSenderEstimator.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSenderSeeker.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailService.java
  backend/api/src/main/resources/templates/SignupEmail.html
Labels: backend, refactor

#590 [#589][Refactor] 페이지 디자인 개선
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/assets/img/announce/check-mark.png
  frontend/src/components/seeker/SeekerSideBarComponent.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#592 [#591][Refactor] 페이지 디자인 개선
  frontend/src/assets/css/grid.css
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
Labels: frontend, refactor

#594 [#593][Refactor] recruiter 헤더 수정 & 페이징 활성화 디자인 수정
  frontend/src/assets/css/grid.css
  frontend/src/components/recruiter/InterviewEvaluateResult.vue
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/components/recruiter/ReScheduleList.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/pages/recruiter/total-process/TotalProcessListPage.vue
  frontend/src/pages/recruiter/total-process/TotalProcessMainPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#596 [#595][Refactor] recruiter 헤더 수정
  frontend/src/components/recruiter/MainHeaderComponent.vue
Labels: frontend, refactor

#598 [#597][Refactor] 전체 로그인 예외처리 관련 디자인 수정
  frontend/src/assets/img/error-message.png
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/main.js
  frontend/src/pages/error/ErrorPage.vue
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseCompanyStore.js
  frontend/src/stores/UseMypageNotificationStore.js
  frontend/src/stores/UseResumeStore.js
Labels: frontend, refactor

#599 [#521][Refactor] 토큰관련 만료여부 수정
  backend/api/src/main/java/com/example/api/global/security/filter/JwtFilter.java
  backend/api/src/main/java/com/example/api/global/utils/JwtUtil.java
Labels: backend, refactor

#601 [#600][Refactor] 지원 프로세스, 면접 평가 로직 수정
  backend/api/src/main/java/com/example/api/domain/system/DataInit.java
  backend/api/src/main/java/com/example/api/domain/total_process/service/TotalProcessService.java
  cicd/docker-compose.yml
Labels: backend, refactor

#605 [Refactor] 화상 면접방 접근 제어 개선
  backend/api/src/main/java/com/example/api/domain/total_process/service/TotalProcessService.java
  backend/api/src/main/java/com/example/api/domain/video_interview/model/request/VideoInterviewRequest.java
  backend/api/src/main/java/com/example/api/domain/video_interview/service/VideoInterviewService.java
  backend/api/src/main/java/com/example/api/global/common/exception/GlobalExceptionHandler.java
  backend/api/src/main/java/com/example/api/global/common/responses/BaseResponseMessage.java
  backend/api/src/main/java/com/example/api/global/config/SecurityConfig.java
  backend/api/src/main/java/com/example/api/global/security/AccessControlService.java
  backend/api/src/main/java/com/example/api/global/security/CustomUserDetailService.java
  backend/api/src/main/java/com/example/api/global/security/CustomUserDetails.java
  backend/api/src/main/java/com/example/api/global/security/filter/JwtFilter.java
  backend/api/src/main/java/com/example/api/global/security/filter/LoginFilter.java
  frontend/src/components/video-interview/UserVideo.vue
  frontend/src/components/video-interview/VideoInterviewHeaderComponent.vue
  frontend/src/pages/recruiter/total-process/TotalProcessListPage.vue
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: backend, refactor

#606 [#597][Refactor] 예외 처리 이동 수정
  frontend/src/main.js
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormCreatePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/stores/UseAuthStore.js
Labels: frontend, refactor

#608 [#607][Refactor] 인터뷰 차수에 따른 지원자 조회 로직 수정
  backend/api/src/main/java/com/example/api/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/api/src/main/java/com/example/api/domain/interview_schedule/service/InterviewScheduleService.java
  backend/api/src/main/java/com/example/api/domain/resume/service/ResumeService.java
  backend/api/src/main/java/com/example/api/domain/video_interview/controller/VideoInterviewController.java
  backend/api/src/main/java/com/example/api/domain/video_interview/service/VideoInterviewService.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSenderSeeker.java
  backend/api/src/main/resources/templates/InterviewConfirmOnlineEmail.html
  backend/api/src/main/resources/templates/InterviewNewEmail.html
  backend/common/src/main/java/com/example/common/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/common/src/main/java/com/example/common/domain/interview_schedule/repository/querydsl/InterviewScheduleDslRepository.java
  backend/common/src/main/java/com/example/common/domain/total_process/repository/TotalProcessRepository.java
Labels: backend, refactor

#610 [#609][Refactor] interview-schedule 차수에 따른 지원자 조회 로직 변경
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleListPage.vue
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend, refactor

#612 [#611][Refactor] 회원가입 페이지 개선
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
  frontend/src/pages/seeker/auth/SeekerSignupPage.vue
Labels: frontend, refactor

#614 [#613][Refactor] 인터뷰 일정 생성시 면접관 이메일 전송
  backend/api/src/main/java/com/example/api/domain/interview_schedule/service/InterviewScheduleService.java
  backend/api/src/main/java/com/example/api/domain/system/DataInit.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSendEstimator.java
  backend/api/src/main/resources/templates/EstimatorEmail.html
Labels: backend, refactor

#615 [#602][Refactor] 화상 면접방 페이지 개선 및 면접관 로그인 페이지 추가
  backend/api/src/main/java/com/example/api/domain/interview_schedule/service/InterviewScheduleService.java
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSendEstimator.java
  backend/common/src/main/java/com/example/common/domain/auth/model/entity/Estimator.java
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/pages/estimator/auth/EstimatorLoginPage.vue
  frontend/src/router/index.js
Labels: frontend, refactor

#617 [#616][Refactor] 중복 이메일 처리
  backend/batch/src/main/java/com/example/batch/processor/EmailConfirmInterviewScheduleProcessor.java
  backend/batch/src/main/java/com/example/batch/processor/EmailInterviewScheduleInfoProcessor.java
Labels: refactor, batch

#619 [#618][Refactor] cronJob 파드 자동삭제 옵션 추가
  cicd/k8s/batch/finalResult-cronJob.yml
  cicd/k8s/batch/interviewInfo-cronJob.yml
Labels: refactor, batch

#620 [Batch] 배치 배포 테스트
  backend/batch/src/main/resources/application.yml
Labels: batch

#621 [Batch] 배치 배포 테스트
  cicd/k8s/batch/finalResult-cronJob.yml
  cicd/k8s/batch/interviewInfo-cronJob.yml
  cicd/k8s/batch/resumeResult-cronJob.yml
  cicd/k8s/batch/videoInterview-cronJob.yml
Labels: batch

#623 [#622][Refactor] favicon 설정
  frontend/public/favicon/android-icon-144x144.png
  frontend/public/favicon/android-icon-192x192.png
  frontend/public/favicon/android-icon-36x36.png
  frontend/public/favicon/android-icon-48x48.png
  frontend/public/favicon/android-icon-72x72.png
  frontend/public/favicon/android-icon-96x96.png
  frontend/public/favicon/apple-icon-114x114.png
  frontend/public/favicon/apple-icon-120x120.png
  frontend/public/favicon/apple-icon-144x144.png
  frontend/public/favicon/apple-icon-152x152.png
  frontend/public/favicon/apple-icon-180x180.png
  frontend/public/favicon/apple-icon-57x57.png
  frontend/public/favicon/apple-icon-60x60.png
  frontend/public/favicon/apple-icon-72x72.png
  frontend/public/favicon/apple-icon-76x76.png
  frontend/public/favicon/apple-icon-precomposed.png
  frontend/public/favicon/apple-icon.png
  frontend/public/favicon/browserconfig.xml
  frontend/public/favicon/favicon-16x16.png
  frontend/public/favicon/favicon-32x32.png
  frontend/public/favicon/favicon-96x96.png
  frontend/public/favicon/favicon.ico
  frontend/public/favicon/manifest.json
  frontend/public/favicon/ms-icon-144x144.png
  frontend/public/favicon/ms-icon-150x150.png
  frontend/public/favicon/ms-icon-310x310.png
  frontend/public/favicon/ms-icon-70x70.png
  frontend/public/index.html
Labels: frontend, refactor

#625 [#624][Refactor] 면접일정조율 버튼 설정
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
Labels: frontend, refactor

#627 [#626][Refactor] 인터뷰 방 안내 메일 수정
  backend/batch/src/main/java/com/example/batch/processor/EmailConfirmInterviewScheduleProcessor.java
Labels: refactor, batch

#629 [#628][Refactor] 인터뷰 방 안내 메일 수정
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSenderSeeker.java
Labels: backend, refactor

#630 [#628][Refactor] 인터뷰 방 안내 메일 수정
  backend/api/src/main/java/com/example/api/global/utils/email/service/EmailSenderSeeker.java
Labels: backend, refactor
