Repository beyond-sw-camp/be06-fin-SABUJAKS-IRS, pull requests merged in 2024-09, with the labels that each got.

#88 [Fix] 지원자 로그인 페이지 css 에러 해결
  frontend/src/assets/svg/checkedbox_circle.svg
  frontend/src/pages/seeker/auth/SeekerLoginPage.css
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: frontend

#89 [Feat] 채용담당자 회원가입 개발
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/IrsApplication.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/AuthLoginReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/RecruiterSignupReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/RecruiterSignupRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/RecruiterRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/global/common/annotation/ExeTimer.java
  backend/src/main/java/com/sabujaks/irs/global/common/exception/BaseException.java
  backend/src/main/java/com/sabujaks/irs/global/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponse.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  backend/src/main/java/com/sabujaks/irs/global/utils/JwtUtil.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/components/Test.vue
  frontend/src/components/video-interview/VideoInterviewMainHeaderComponent.vue
  frontend/src/components/video-interview/VideoInterviewRoomHeaderComponent.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewEstimatorPage.css
  frontend/src/pages/recruiter/video-interview/VideoInterviewEstimatorPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.css
Labels: backend

#90 [#87][Fix] markup vue 이관
  frontend/src/App.css
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/main.js
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainPage.vue
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/recruiter/resume/ResumeFormPreviewPage.css
  frontend/src/pages/recruiter/resume/ResumeFormPreviewPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/router/index.js
Labels: frontend

#91 [Fix] markup vue 이관2
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.css
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.css
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.css
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.css
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/pages/seeker/mypage/MypageSchedulePage.css
  frontend/src/pages/seeker/mypage/MypageSchedulePage.vue
  frontend/src/router/index.js
Labels: frontend

#92 [Fix] markup vue 이관2
  frontend/src/App.css
  frontend/src/assets/img/signup-sprite-icon.png
  frontend/src/assets/img/sprite-icon.png
  frontend/src/assets/img/sprite-menu.png
  frontend/src/pages/recruiter/auth/RecruiterSignupPage.vue
  frontend/src/pages/recruiter/auth/RecruiterSignupPageX.css
  frontend/src/pages/seeker/auth/SeekerSignupPage.css
  frontend/src/pages/seeker/auth/SeekerSignupPage.vue
Labels: frontend

#93 [#2][Feat] 채용담당자 이메일 검증 개발
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/EmailVerify.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/AuthSignupRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/EmailVerifyRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
  backend/src/main/java/com/sabujaks/irs/global/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#94 [#3][Feat] 채용담당자 기업 인증 개발
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/IrsApplication.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/CompanyVerify.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/CompanyVerifyReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/CrnApiReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/RecruiterSignupReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/AuthSignupRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/CompanyVerifyRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/CrnApiRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/CompanyVerifyRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/CompanyVerifyService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/feign_client/CrnApiFeignClient.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  backend/src/main/resources/application.yml
Labels: backend

#95 [#4][Feat] 채용담당자 로그인 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/AuthLoginReq.java
  backend/src/main/java/com/sabujaks/irs/domain/test/TestController.java
  backend/src/main/java/com/sabujaks/irs/global/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomAccessDeniedHandler.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomLoginFailureHandler.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  backend/src/main/java/com/sabujaks/irs/global/utils/JwtUtil.java
Labels: backend

#98 [#6][Feat] 지원자 이메일 인증 개발
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
Labels: backend

#99 [#7][Feat] 지원자 일반 로그인 개발
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/AuthLoginReq.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
Labels: backend

#100 [#87][Fix] announce-register-step1 markup vue 이관
  frontend/public/css/AnnounceRegisterStep1Page.css
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/router/index.js
Labels: frontend

#101 [#87][Fix] recruiter login css 수정
  frontend/public/css/RecruiterLoginPage.css
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
Labels: frontend

#102 [#8][Feat] 지원자 소셜 로그인 개발
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/CustomOAuth2UserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/CustomOAuth2UserService.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/GoogleUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/KakaoUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/NaverUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2UserInfo.java
  backend/src/main/resources/application.yml
Labels: backend

#103 [#9][Feat] 로그아웃 개발
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#104 [Fix] seeker 부분 컴포넌트, css 수정
  frontend/src/App.css
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/components/seeker/SeekerSideBarComponent.vue
  frontend/src/pages/seeker/announce/AnnounceDetailPage.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/pages/seeker/mypage/MypageSchedulePage.vue
Labels: frontend

#105 [Fix] 채용담당자 공고 등록 step2 페이지 추가
  frontend/public/css/step2.css
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/router/index.js
Labels: frontend

#106 [Fix] file name change
  frontend/public/css/AnnounceRegisterStep2Page.css
Labels: frontend

#108 [#107][Init] Docker-compose 개발 환경 설정
  .gitignore
  cicd/docker-compose.yml
  cicd/nginx/default.conf
Labels: config

#109 [Feat] 지원자 지원서 등록1 기능 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/SeekerRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PersonalInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PreferentialEmp.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PersonalInfoCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PreferentialEmpInfoCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PersonalInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PreferentialEmpRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#110 [#82][Feat] 채용담당자 면접 일정 생성 개발
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainPage.vue
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/vue.config.js
Labels: frontend

#111 [#47][Feat] 채용담당자 면접 일정 생성 개발
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/request/InterviewScheduleReq.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSender.java
Labels: backend

#113 [Feat] 채용담당자 공고 등록 stpe2 지원서 폼 조립 기능
  backend/src/main/java/com/sabujaks/irs/domain/announce/controller/AnnounceController.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/CustomForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/CustomLetterForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/request/CustomFormReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/response/CustomFormRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/repository/AnnounceRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/repository/CustomFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/repository/CustomLetterFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/service/AnnounceService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#114 [Fix] BaseResponseMessage 기호 수정
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#116 [Feat] data init 테이블 생성, 지원서 폼 관련 데이터 설정
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/entity/BaseInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/repository/BaseInfoRepository.java
Labels: backend

#117 [#55][Feat] 채용담당자 화상 면접방 생성 개발
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/entity/VideoInterviewRoom.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/request/VideoInterviewRoomCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/response/VideoInterviewRoomCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/repository/VideoInterviewRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/OpenViduConfig.java
  backend/src/main/resources/application.yml
  cicd/docker-compose.yml
  cicd/nginx/default.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/video-interview/OvVideo.vue
  frontend/src/components/video-interview/UserVideo.vue
  frontend/src/const.js
  frontend/src/pages/recruiter/video-interview/VideoInterViewTest1Page.vue
  frontend/src/pages/recruiter/video-interview/VideoInterViewTest2Page.vue
  frontend/src/router/index.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: backend

#119 [Feat] 지원자, 면접진 화상 면접방 목록 조회 개발
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/entity/VideoInterview.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/request/VideoInterviewCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/response/VideoInterviewCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/mdoel/response/VideoInterviewSearchRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/repository/VideoInterviewRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  frontend/src/pages/recruiter/video-interview/VideoInterViewTest2Page.vue
  frontend/src/stores/UseVideoInterviewStore.js
Labels: backend

#120 [Feat] 지원자 지원서 등록2 기능 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Education.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PersonalHistory.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PersonalInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PreferentialEmp.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/EducationCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PersonalHistoryCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/EducationRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PersonalHistoryRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend

#121 [Feat] 채용담당자 자기소개서 등록 및 지원서 폼 코드 수정
  backend/src/main/java/com/sabujaks/irs/domain/announce/controller/AnnounceController.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/CustomLetterForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/request/CustomFormReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/response/CustomFormRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/service/AnnounceService.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/repository/BaseInfoRepository.java
Labels: backend

#122 [#52][Feat] 면접 일정 설계 변경
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/router/index.js
Labels: frontend

#127 [#125][Feat] 화상 면접방 메인 페이지 개발 완료
  frontend/src/components/video-interview/VideoInterviewHeaderComponent.vue
  frontend/src/components/video-interview/VideoInterviewMainHeaderComponent.css
  frontend/src/components/video-interview/VideoInterviewMainHeaderComponent.vue
  frontend/src/components/video-interview/VideoInterviewMainSideBarComponent.css
  frontend/src/components/video-interview/VideoInterviewMainSideBarComponent.vue
  frontend/src/components/video-interview/VideoInterviewRoomHeaderComponent.css
  frontend/src/components/video-interview/VideoInterviewRoomHeaderComponent.vue
  frontend/src/components/video-interview/VideoInterviewSideBarComponent.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewEstimatorPage.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewMainPage.css
  frontend/src/pages/recruiter/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewParticipantPage.css
  frontend/src/pages/recruiter/video-interview/VideoInterviewParticipantPage.vue
  frontend/src/router/index.js
Labels: frontend

#129 [Feat] 지원자 지원서 등록4 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Award.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Certification.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Training.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/AwardCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/CertificationCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/TrainingCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/AwardRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/CertificationRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/TrainingRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend

#130 [#31][Feat] 채용담당자 공고 등록 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/announce/controller/AnnounceController.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/request/AnnounceRegisterReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/response/AnnounceRegisterRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/service/AnnounceService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/RecruiterRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#131 [#41][Feat] 지원자 지원서 등록5 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/CustomLetter.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/CustomResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Portfolio.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/CustomLetterCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PortfolioCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/CustomLetterRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/CustomResumeInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PortfolioRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend

#132 [#47][Feat] 채용 담당자 신입 지원자 면접 일정 등록
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewScheduleLists.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/Team.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/request/InterviewScheduleReq.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleListsRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleListsRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/TeamRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSender.java
Labels: backend

#135 [#134][Fix] 면접 일정 baseresponse 수정
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#136 [#86][Feat] 채용담당자 면접 일정 생성
  frontend/src/assets/css/grid.css
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/vue.config.js
Labels: frontend

#138 [Fix] 공고등록 기능 코드 수정 및 쿼리문 개선
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/service/AnnounceService.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/repository/BaseInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#140 [#139][Feat] BaseInfo 테이블 필드 변경 후 복리후생 데이터 입력
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/entity/BaseInfo.java
Labels: backend

#141 [#133][Feat] 지원자 지원서 등록6 기능 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeSubmitReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#143 [#134][Fix] 화상 면접 접근 권한 시큐리티 설정 및 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/repository/VideoInterviewRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/exception/CustomAccessDeniedHandler.java
  frontend/src/pages/recruiter/video-interview/VideoInterviewEstimatorPage.css
  frontend/src/pages/recruiter/video-interview/VideoInterviewEstimatorPage.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/recruiter/video-interview/VideoInterviewRedirectPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: backend

#144 [#54][Feat] 경력 면접 일정 조율 기능 개발
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/alarm/controller/AlarmController.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/entity/Alarm.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/request/AlarmReq.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/response/AlarmRes.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/service/AlarmService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSender.java
  backend/src/main/resources/templates/InterviewEmail.html
Labels: backend

#148 [#147][Feat] 유저 정보 토큰 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/request/VideoInterviewCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/request/VideoInterviewTokenGetReq.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewTokenGetRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/video-interview/VideoInterviewHeaderComponent.vue
  frontend/src/main.js
  frontend/src/pages/video-interview/VideoInterViewTest1Page.vue
  frontend/src/pages/video-interview/VideoInterViewTest2Page.vue
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRedirectPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: backend

#150 [Feat] 지원자, 면접진 화상 면접방 목록 조회 수정
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewSearchRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/repository/VideoInterviewRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: backend

#151 [#87][Fix] 화상 면접방 메인 페이지 수정
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/model/response/VideoInterviewSearchRes.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
Labels: frontend

#152 [#134][Fix] 유저 정보 조회 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Estimator.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/UserInfoGetRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/EstimatorRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewParticipate.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewParticipateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/LoginFilter.java
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
  frontend/src/stores/UseVideoInterviewStore.js
Labels: backend

#153 [#134][Fix] 지원자, 면접진 화상 면접방 참여 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/resources/application.yml
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
  frontend/src/stores/UseAuthStore.js
Labels: backend

#154 [#71][Feat] 지원자 지원서 등록 페이지 개발 완료
  frontend/src/assets/img/sprite-icon-x.png
  frontend/src/components/seeker/AwardComponent.vue
  frontend/src/components/seeker/CertificationComponent.vue
  frontend/src/components/seeker/CustomLetterComponent.vue
  frontend/src/components/seeker/EducationComponent.vue
  frontend/src/components/seeker/InternsActivityComponent.vue
  frontend/src/components/seeker/LanguageComponent.vue
  frontend/src/components/seeker/PersonalHistoryComponent.vue
  frontend/src/components/seeker/PersonalInfoComponent.vue
  frontend/src/components/seeker/PortfolioComponent.vue
  frontend/src/components/seeker/PreferentialEmpComponent.vue
  frontend/src/components/seeker/StudyingAbroadComponent.vue
  frontend/src/components/seeker/TrainingComponent.vue
  frontend/src/pages/seeker/resume/ResumeCreatePage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#155 [#71][Fix] router 수정
  frontend/src/router/index.js
Labels: frontend

#156 [#134][Feat] 지원자 지원서 등록 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/CustomLetter.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Education.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Language.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PersonalInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Portfolio.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/PreferentialEmp.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/CustomLetterCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/EducationCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/LanguageCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PersonalInfoCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PortfolioCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/PreferentialEmpInfoCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
Labels: backend

#158 [#128][Feat] 화상 면접 지원자 페이지 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/service/VideoInterviewService.java
  frontend/src/assets/img/video-interview/sound-off-white.png
  frontend/src/assets/img/video-interview/sound-off.png
  frontend/src/assets/img/video-interview/sound-on-white.png
  frontend/src/assets/img/video-interview/sound-on.png
  frontend/src/components/video-interview/OvVideo.vue
  frontend/src/components/video-interview/UserVideo.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: backend

#164 [#163][Feat] 채용담당자 화상 면접 평가표 등록 페이지 개발 완료
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateMain.vue
  frontend/src/pages/video-interview/VideoInterViewTest1Page.vue
  frontend/src/pages/video-interview/VideoInterViewTest2Page.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewEvaluateStore.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: frontend

#173 [#76][feat] 채용담당자 공고등록 페이지 개발
  frontend/package-lock.json
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page copy.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend

#174 [#171][Fix] 채용담당자 공고등록 및 데이터조회 수정
  backend/src/main/java/com/sabujaks/irs/domain/announce/controller/AnnounceController.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/model/response/AnnounceRegisterRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announce/service/AnnounceService.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/CustomForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/CustomLetterForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/request/AnnouncementCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/request/CustomFormCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/BenefitCategory.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/CompanyInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/CustomFormCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/RecruiterInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/CustomFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/CustomLetterFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
  backend/src/main/java/com/sabujaks/irs/domain/company/controller/CompanyController.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/entity/Company.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/entity/CompanyBenefits.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/entity/CompanyImg.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/request/CompanyCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/response/CompanyCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/company/repository/CompanyBenefitsRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/company/repository/CompanyImgRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/company/repository/CompanyRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/company/service/CompanyService.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/repository/BaseInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluate.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluateForm.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/ReSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
Labels: backend

#175 [Feat] 유저 비밀번호 변경 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Recruiter.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/request/PasswordEditReq.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/CompanyVerifyService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetailService.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  frontend/src/components/video-interview/UserVideo.vue
Labels: backend

#176 [#27][Feat] 회원 탈퇴 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/repository/EmailVerifyRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/EmailVerifyService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#178 [#177][Fix] index.js 구버전 라우터 삭제
  frontend/src/router/index.js
Labels: frontend

#180 [#179][Feat] 면접관 화상 면접 평가표 조회 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/Announcement.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluateForm.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluateResult.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateFormReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/repository/InterviewEvaluateFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#181 [#157][Feat] 지원서 제출 페이지 진입 시 필요한 데이터 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/CustomFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/CustomLetterFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/ResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/AwardReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/CertificationReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/CustomLetterFormReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/CustomLetterReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/EducationReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/InternsActivityReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/LanguageReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/PersonalHistoryReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/PersonalInfoReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/PortfolioReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/PreferentialEmpReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadSubmitInfoRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/StudyingAbroadReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/TrainingReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/AwardRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/CertificationRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/CustomLetterRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/EducationRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/InternActivitiesRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/LanguageRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PersonalHistoryRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PersonalInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PortfolioRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/PreferentialEmpRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/StudyingAboardRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/TrainingRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#184 [#183][Feat] 화상 면접 평가표 조회 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluateForm.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewParticipateRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
  frontend/src/stores/UseInterviewEvaluateStore.js
Labels: backend

#185 [#35][Feat] 지원자 공고 전체 조회 기능 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/request/CustomFormCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadDetailRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
Labels: backend

#186 [#44][Feat] 지원서 상세 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#187 [#159][Feat] 화상 면접 면접관 페이지 개발
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewParticipateRepository.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
  frontend/src/stores/UseInterviewEvaluateStore.js
Labels: frontend

#189 [#61][Feat] 면접관 지원자 지원서 조회 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadAllResumeInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadResumeInfoRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/security/CustomUserDetails.java
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
Labels: backend

#190 [#36][Feat] 지원자 공고 상세 조회 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadDetailRes.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
Labels: backend

#192 [#191][Feat] 면접일정 공고 리스트 조회 & 면접 리스트 조회
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadAllRes2.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/AnnouncementRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/RecruiterRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/SeekerInfoGetRes.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/Team.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewParticipateReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewParticipateRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewScheduleRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#194 [#193][Feat] 공고조회 & 면접 일정 조회
  frontend/src/assets/css/grid.css
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend

#195 [#159][Feat] 화상 면접 면접관 페이지 개발
  backend/src/main/java/com/sabujaks/irs/global/security/filter/JwtFilter.java
  frontend/src/components/video-interview/UserVideo.vue
  frontend/src/components/video-interview/VideoInterviewHeaderComponent.vue
  frontend/src/components/video-interview/VideoInterviewSideBarComponent.vue
  frontend/src/pages/video-interview/VideoInterviewMainPage.vue
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseInterviewEvaluateStore.js
  frontend/src/stores/UseVideoInterviewStore.js
Labels: frontend

#196 [#157][Fix] 지원서 제출 페이지 진입 시 필요한 데이터 조회 수정
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadSubmitInfoRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#198 [#197][Feat] 면접관 지원자 화상 면접 평가 생성 개발
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/entity/Seeker.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluate.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/entity/InterviewEvaluateResult.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/request/InterviewEvaluateCreateReq.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateCreateRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/repository/InterviewEvaluateFormRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/repository/InterviewEvaluateRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewParticipate.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/InterviewParticipateRepository.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#200 [#72][Feat] 지원자 지원서 제출 페이지 개발 완료
  frontend/src/components/seeker/AwardComponent.vue
  frontend/src/components/seeker/CertificationComponent.vue
  frontend/src/components/seeker/CustomLetterFormComponent.vue
  frontend/src/components/seeker/EducationComponent.vue
  frontend/src/components/seeker/InternsActivityComponent.vue
  frontend/src/components/seeker/LanguageComponent.vue
  frontend/src/components/seeker/PersonalHistoryComponent.vue
  frontend/src/components/seeker/PersonalInfoComponent.vue
  frontend/src/components/seeker/PortfolioComponent.vue
  frontend/src/components/seeker/PreferentialEmpComponent.vue
  frontend/src/components/seeker/StudyingAbroadComponent.vue
  frontend/src/components/seeker/TrainingComponent.vue
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseResumeStore.js
Labels: backend

#201 [#199][Feat] 화상 면접 면접관 페이지 수정
  frontend/src/pages/video-interview/VideoInterviewRoomPage.vue
Labels: frontend

#202 [#81][Feat] 일정조율 페이지 개발 및 기능 연동 완료
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/components/recruiter/ReScheduleDetail.vue
  frontend/src/components/recruiter/ReScheduleList.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainExp.vue
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/src/stores/UseUserStore.js
Labels: frontend

#204 [#73][Feat] recruiter 로그인 개발
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/components/recruiter/ReScheduleDetail.vue
  frontend/src/components/recruiter/ReScheduleList.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/pages/recruiter/auth/RecruiterLoginPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/pages/seeker/mypage/MypageNotificationPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseUserStore.js
Labels: frontend

#206 [#76][Feat] 채용담당자 공고등록 페이지 개발
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page copy.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend

#207 [#62][Feat] 지원자 로그인 페이지 개발
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/main.js
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage1.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
Labels: frontend

#209 [#80][Feat] 채용담당자 지원서 상세 조회 페이지 개발 완료
  frontend/src/pages/recruiter/resume/ResumeDetailPage.css
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseResumeStore.js
Labels: backend

#210 [#46][Feat] 채용 담당자 서류 합불 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/entity/Resume.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/request/ResumeUpdateDocPassedReq.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeUpdateDocPassedRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#211 [#63][Feat] 지원자 회원가입 페이지 개발
  frontend/src/assets/svg/sns_google_large.svg
  frontend/src/components/seeker/SeekerFooterComponent.vue
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage1.vue
  frontend/src/pages/seeker/auth/SeekerSignupPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
Labels: frontend

#213 [#212][Init] Jenkins, k8s 배포 파일 설정
  cicd/jenkins/backend/Dockerfile
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Dockerfile
  cicd/jenkins/frontend/Jenkinsfile
  cicd/k8s/backend/backend-deployment-blue.yml
  cicd/k8s/backend/backend-deployment-green.yml
  cicd/k8s/frontend/frontend-deployment-blue.yml
  cicd/k8s/frontend/frontend-deployment-green.yml
Labels: config

#215 [#214][Fix] cicd jenkinsfile clone url 수정
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#217 [#215][Fix] cicd jenkinsfile clone url 수정
  cicd/jenkins/backend/Jenkinsfile
Labels: config

#219 [#218][ Fix] Jenkins branch 변수명 수정
  cicd/jenkins/backend/Jenkinsfile
Labels: config

#221 [#220][Fix] Jenkins branch 변수명 수정
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#223 [#222][Feat] Jenkins 빌드 결과 discord 알람
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#224 [#222][F ix] cicd jenkinsfile discord 알림 수정
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#225 [#222][Fix] cicd jenkinsfile discord 알림 수정
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#226 [#222][Fix] cicd jenkinsfile discord 알림 수정
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#228 [#227][Feat] k8s backend Deployment 파일 ConfigMap 추가
  cicd/k8s/backend/backend-deployment-blue.yml
  cicd/k8s/backend/backend-deployment-green.yml
Labels: config

#229 [Feat] 채용담당자 지원서 폼 조립 페이지 개발
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAnnouncementStore.js
  frontend/src/stores/UseCustomFormStore.js
Labels: frontend

#230 [Fix] 채용담당자 지원서 폼 조립 기능 수정
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/entity/CustomForm.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#232 [#231][Feat] jenkins back test
  cicd/jenkins/backend/Jenkinsfile
Labels: config

#233 [#231][Feat] jenkins back test2
  cicd/jenkins/backend/Jenkinsfile
  cicd/k8s/backend/backend-deployment-blue.yml
  cicd/k8s/backend/backend-deployment-green.yml
Labels: config

#234 [#231][Feat] jenkins back test3
  cicd/jenkins/backend/Jenkinsfile
Labels: config

#235 [Feat] jenkins back test4
  cicd/jenkins/backend/Jenkinsfile
Labels: config

#236 [Feat] jenkins back test5
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#237 [Feat] jenkins back test6
  backend/src/main/java/com/sabujaks/irs/domain/test/TestController.java
Labels: config

#238 [#208][Feat] 지원자 공고지원서 상세 조회 페이지 개발 완료
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
  frontend/src/router/index.js
Labels: frontend

#240 [#56][Feat] 채용담당자 화상 면접 평가 목록 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#243 [#231][Feat] jenkins front test
  backend/src/main/java/com/sabujaks/irs/domain/test/TestController.java
  cicd/jenkins/backend/Jenkinsfile
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#244 [#22][Feat] 지원자 공고지원서 목록 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#245 [#231][Feat] k8s test
  backend/src/main/java/com/sabujaks/irs/domain/test/TestController.java
Labels: config

#248 [#247][Feat] 면접일정 조회 페이징 처리
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/repository/querydsl/AnnouncementDslRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/repository/querydsl/InterviewScheduleDslRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
Labels: backend

#250 [#249][Feat] 채용담당자 면접 일정 조회 페이징 처리
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/ReScheduleList.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainExp.vue
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend

#251 [#231][Feat] jenkins front test3
  cicd/k8s/frontend/frontend-deployment-blue.yml
  cicd/k8s/frontend/frontend-deployment-green.yml
  cicd/nginx/default.conf
Labels: config

#253 [#252][Feat] frontend jenkinsfile execCommand 수정
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#255 [#252][Feat] frontend jenkinsfile execCommand 수정-2
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#256 [#252][Feat] frontend jenkinsfile execCommand 수정-3
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#257 [#252][Feat] frontend jenkinsfile execCommand 수정-4
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#258 [#231][Feat] jenkins front test5
  cicd/k8s/frontend/frontend-deployment-blue.yml
  cicd/k8s/frontend/frontend-deployment-green.yml
Labels: config

#259 [#231][Feat] jenkins front test6
  cicd/nginx/default.conf
Labels: config

#260 [#84][Feat] 채용담당자 기업 정보 등록 페이지
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/src/stores/UseMypageNotificationStore.js
Labels: frontend

#261 [#231][Feat] jenkins back test7
  cicd/k8s/frontend/frontend-deployment-blue.yml
Labels: config

#262 [#84][Feat] 채용담당자 기업 정보 등록 페이지 디자인 추가
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
Labels: frontend

#263 [#252][Feat] frontend jenkinsfile execCommand 수정-5
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#264 [Feat] 배포 테스트
  backend/src/main/java/com/sabujaks/irs/domain/test/TestController.java
Labels: config

#265 [#231][Feat] jenkins frontend test8
  frontend/src/pages/seeker/announce/AnnounceReadAllPage.vue
Labels: config

#266 [Feat] jenkins frontend test9
  cicd/k8s/frontend/frontend-deployment-blue.yml
  cicd/k8s/frontend/frontend-deployment-green.yml
Labels: config

#267 [Feat] jenkins frontend test10
  cicd/k8s/frontend/frontend-deployment-blue.yml
  cicd/k8s/frontend/frontend-deployment-green.yml
Labels: config

#270 [#252][Feat] frontend jenkinsfile execCommand 수정-6
  cicd/jenkins/frontend/Jenkinsfile
Labels: config

#277 [#65][Feat] 지원자 공고 지원 목록 페이지 개발 진행중
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#278 [#84][Feat] 채용담당자 회사 정보 확인 & 수정 페이지
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
Labels: frontend

#279 [#247][Feat] 면접 일정 조율 각 조회 최신순
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
Labels: backend

#280 [#77][Fix] 채용담당자 지원서 폼 조립 페이지 수정
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep2Page.vue
  frontend/src/stores/UseCustomFormStore.js
Labels: frontend

#282 [#281][Feat] 채용담당자 공고 목록 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/announcement/controller/AnnouncementController.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/model/response/AnnouncementReadAllRes3.java
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#284 [#55][Feat] 채용담당자 화상 면접방 생성 개발
  frontend/src/components/recruiter/BackBtn.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/stores/UseInterviewScheduleStore.js
Labels: frontend

#285 [#166][Feat] 채용담당자 화상 면접 평가표 전체 조회 페이지 개발
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateFormReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/repository/InterviewEvaluateFormRepository.java
  backend/src/main/java/com/sabujaks/irs/global/utils/JwtUtil.java
  frontend/src/components/recruiter/InterviewEvaluateFormMain.vue
  frontend/src/components/recruiter/MainHeaderComponent.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormMain.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateMain.vue
  frontend/src/router/index.js
Labels: frontend

#287 [#286][Feat] k8s OAuth2 test1
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
Labels: config

#288 [#75][Feat] 채용담당자 조회 페이지 개발
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend

#289 [#283][Feat] 채용담당자 공고에 지원한 지원자 목록 조회
  backend/src/main/java/com/sabujaks/irs/domain/resume/controller/ResumeController.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/model/response/ResumeReadAllRecruiterRes.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/service/ResumeService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#290 [#286][Feat] k8s OAuth2 test2
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
Labels: config

#291 [#286][Feat] k8s OAuth2 test3
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
Labels: config

#293 [#292][Feat] 지원자 로그인 페이지 수정
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/UserInfoGetRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/global/security/oauth2/OAuth2AuthenticationSuccessHandler.java
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/pages/seeker/auth/SeekerLoginPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAuthStore.js
Labels: frontend

#294 [#78][Feat] 채용담당자 공고 지원자 관리 페이지 개발 완료
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/recruiter/resume/ResumeListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#295 [#75][Feat] 채용담당자 공고 관리 페이지 개발
  frontend/src/pages/recruiter/announce/AnnounceDetailPage.vue
  frontend/src/pages/recruiter/announce/AnnounceMainPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseAnnouncementStore.js
Labels: frontend

#297 [#296][Fix] 파일, 이미지 업로드 서비스 수정
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
  backend/src/main/java/com/sabujaks/irs/global/utils/CloudFileUpload.java
Labels: config

#298 [#18][Feat] 채용담당자 기업 관련 기능, 기준 코드 조회 기능 개발
  backend/src/main/java/com/sabujaks/irs/domain/announcement/service/AnnouncementService.java
  backend/src/main/java/com/sabujaks/irs/domain/company/controller/CompanyController.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/entity/Company.java
  backend/src/main/java/com/sabujaks/irs/domain/company/model/response/CompanyReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/company/repository/CompanyImgRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/company/service/CompanyService.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/DataInit.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/controller/BaseInfoController.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/model/entity/BaseInfo.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/model/response/CategoryRes.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/model/response/SubcategoryRes.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/repository/BaseInfoRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/data_init/service/BaseInfoService.java
  backend/src/main/java/com/sabujaks/irs/global/common/responses/BaseResponseMessage.java
Labels: backend

#299 [#84][Feat] 채용담당자 기업 정보 조회 및 등록 페이지 개발
  frontend/src/pages/recruiter/announce/AnnounceRegisterStep1Page.vue
  frontend/src/pages/recruiter/company/CompanyInfoPage.vue
  frontend/src/stores/UseBaseInfoStore.js
  frontend/src/stores/UseCompanyStore.js
  frontend/src/stores/UseCustomFormStore.js
Labels: frontend

#300 [#69][Fit] seeker 헤더와 사이드바 라우팅 약간 수정
  frontend/src/components/seeker/SeekerHeaderComponent.vue
  frontend/src/components/seeker/SeekerSideBarComponent.vue
Labels: frontend

#301 [#79][Feat] 채용담당자 지원서 관리 페이지 개발 완료
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/recruiter/resume/ResumeMainPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#302 [#241][Feat] 채용담당자 화상 면접 평가 목록 조회 페이지 개발
  frontend/src/components/recruiter/InterviewEvaluateFormMain.vue
  frontend/src/components/recruiter/InterviewEvaluateResultMain.vue
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/interview-evaluate/InterveiwEvaluateResultDetailPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateFormPage.vue
  frontend/src/pages/recruiter/interview-evaluate/InterviewEvaluateResultPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewEvaluateStore.js
Labels: frontend

#303 [#133][Fix] 지원자 지원서 등록, 제출 페이지 입력값 검증
  frontend/src/components/seeker/AwardComponent.vue
  frontend/src/components/seeker/CertificationComponent.vue
  frontend/src/components/seeker/EducationComponent.vue
  frontend/src/components/seeker/InternsActivityComponent.vue
  frontend/src/components/seeker/LanguageComponent.vue
  frontend/src/components/seeker/PersonalHistoryComponent.vue
  frontend/src/components/seeker/PersonalInfoComponent.vue
  frontend/src/components/seeker/PortfolioComponent.vue
  frontend/src/components/seeker/PreferentialEmpComponent.vue
  frontend/src/components/seeker/StudyingAbroadComponent.vue
  frontend/src/components/seeker/TrainingComponent.vue
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/resume/ResumeCreatePage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/resume/ResumeSubmitPage.vue
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#304 [#57][Feat] 채용담당자 화상 면접 평가 상세 조회 개발
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateResultReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
Labels: backend

#305 [#133][Fix] 지원서 상세 조회 페이지 디자인 수정
  frontend/src/pages/recruiter/resume/ResumeDetailPage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/resume/ResumeDetailPage.vue
Labels: frontend

#306 [#21][Feat] 지원자 회원정보 조회 개발 완료
  backend/src/main/java/com/sabujaks/irs/domain/auth/controller/AuthController.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/model/response/SeekerRes.java
  backend/src/main/java/com/sabujaks/irs/domain/auth/service/AuthService.java
  backend/src/main/java/com/sabujaks/irs/global/config/SecurityConfig.java
Labels: backend

#308 [#307][Feat] email-sender template & alarm entity 변경
  backend/build.gradle
  backend/src/main/java/com/sabujaks/irs/domain/alarm/controller/AlarmController.java
  backend/src/main/java/com/sabujaks/irs/domain/alarm/model/entity/Alarm.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/controller/InterviewScheduleController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/entity/InterviewSchedule.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/model/response/InterviewScheduleRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_schedule/service/InterviewScheduleService.java
  backend/src/main/java/com/sabujaks/irs/domain/resume/repository/ResumeRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/video_interview/controller/VideoInterviewController.java
  backend/src/main/java/com/sabujaks/irs/global/config/AsyncConfig.java
  backend/src/main/java/com/sabujaks/irs/global/config/FreeMarkerConfig.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSender.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSenderEstimator.java
  backend/src/main/java/com/sabujaks/irs/global/utils/EmailSenderSeeker.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/InterviewEmail.html
  backend/src/main/resources/templates/InterviewExpEmail.html
  backend/src/main/resources/templates/InterviewNewEmail.html
Labels: backend

#310 [#64][Feat] 지원자 회원 정보 조회 페이지 개발 완료
  frontend/src/pages/seeker/mypage/MypageAnnouceResumePage.vue
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
  frontend/src/pages/seeker/mypage/MypageMainPage.vue
  frontend/src/stores/UseAuthStore.js
  frontend/src/stores/UseResumeStore.js
Labels: frontend

#312 [#311][Feat] 면접 상세조회 & 면접 등록 지원자 조회
  frontend/src/components/recruiter/InterviewScheduleList.vue
  frontend/src/components/recruiter/InterviewScheduleMain.vue
  frontend/src/components/recruiter/MainSideBarComponent.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleDetail.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/router/index.js
  frontend/src/stores/UseInterviewScheduleStore.js
  frontend/src/stores/UseMypageNotificationStore.js
Labels: frontend

#314 [#313][Feat] container 여백 조절
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleDetail.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainExp.vue
  frontend/src/pages/recruiter/interview-schedule/InterviewScheduleMainNew.vue
  frontend/src/pages/recruiter/interview-schedule/ReScheduleMainExp.vue
Labels: frontend

#315 [#66][Fix] 통합 지원서 관리 페이지 에러 수정
  frontend/src/pages/seeker/mypage/MypageIntegrationeResumePage.vue
Labels: frontend

#316 [#309][Feat] 채용담당자 화상 면접 평가 목록 조회 수정
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/controller/InterviewEvaluateController.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadAllRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/model/response/InterviewEvaluateReadRes.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/repository/InterviewEvaluateRepository.java
  backend/src/main/java/com/sabujaks/irs/domain/interview_evaluate/service/InterviewEvaluateService.java
Labels: backend
